<%= render layout: 'layouts/head' do %>
  <body class="as-body">
    <%= render 'layouts/navbar' %>

    <%= render 'shared/alert' %>

    <main class="columns is-fluid is-centered as-main">
      <div class="column container is-full">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/footer' %>

    <div id="modal"></div>
  </body>
<% end %>
